In [28]:
import numpy as np
import psycopg2
import cv2
import csv
import PIL
import os
import random
from PIL import Image
import pickle
from sklearn.utils import shuffle
cv_table = 'cv_results_225'

conn_string = "host='localhost' dbname='indoor_position' user='postgres' password='tiancai' port='5432'"
conn = psycopg2.connect(conn_string)
cur = conn.cursor()

query = '''select category, pred1, img_id from gare_st_lazare.cv_results_225 where category = pred0 order by prob0 asc limit 500'''
cur.execute(query)
results1 = cur.fetchall()
conn.commit()
upload = []

for result in results1:
    query = '''select category, pred1, img_id from gare_st_lazare.cv_results_225 where category = '%s' order by random() limit 1''' % (result[1])
    cur.execute(query)
    result2 = cur.fetchone()
    conn.commit()
    
    query = '''select category, pred1, img_id from gare_st_lazare.cv_results_225 where category = '%s' order by random() limit 1''' % (result[0])
    cur.execute(query)
    result3 = cur.fetchone()
    conn.commit()
    
    query = '''select category, pred1, img_id from gare_st_lazare.cv_results_225 where category = '%s' order by random() limit 1''' % (result[0])
    cur.execute(query)
    result3 = cur.fetchone()
    conn.commit()
    
    query = '''select category, pred1, img_id from gare_st_lazare.cv_results_225 where category != '%s' and category != '%s' order by random() limit 1''' % ([result[0], result2[0]) 
    cur.execute(query)
    result4 = cur.fetchone()
    conn.commit()
    
    upload.append([result[0], result[2], result3[2], result2[0], result2[2], result4[0], result4[2]])
    
for upload_item in upload:
    query = '''insert into gare_st_lazare.survey_test_set values('%s', '%s', '%s', '%s', '%s', '%s', '%s', %s)''' %  (upload_item[0], 
                                upload_item[1], upload_item[2], upload_item[3], upload_item[4], upload_item[5], upload_item[6], 1)
    cur.execute(query)
    conn.commit()